<?xml version="1.0" encoding="UTF-8"?>

<!-- For how to customize PHPUnit configuration, see core/tests/README.md. -->
<!-- TODO set checkForUnintentionallyCoveredCode="true" once https://www.drupal.org/node/2626832 is resolved. -->
<!-- PHPUnit expects functional tests to be run with either a privileged user
 or your current system user. See core/tests/README.md and
 https://www.drupal.org/node/2116263 for details.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="./web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutChangesToGlobalState="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false"
         cacheResultFile=".phpunit.cache/test-results"
         convertDeprecationsToExceptions="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="error_reporting" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="all">
      <!-- Add more directory here -->
      <directory>web/modules/custom/*/tests</directory>
      <directory>web/sites/*/modules/custom/*/tests</directory>
      <directory>web/sites/tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <logging>
    <junit outputFile="./phpunit-reports/phpunit.logfile.xml"/>
  </logging>

  <coverage
    cacheDirectory=".phpunit.cache/code-coverage"
    processUncoveredFiles="true"
  >
    <include>
      <!-- Add more directory here -->
      <directory suffix=".php">web/modules/custom/*/src/</directory>
      <directory suffix=".php">web/sites/*/modules/custom/*/src/</directory>
    </include>
    <exclude>
      <directory>./web/core/modules/*/src/Tests</directory>
      <directory>./web/core/modules/*/tests</directory>
      <directory>./web/modules/*/src/Tests</directory>
      <directory>./web/modules/*/tests</directory>
      <directory>./web/modules/*/*/src/Tests</directory>
      <directory>./web/modules/*/*/tests</directory>
      <directory>./web/modules/contrib/*</directory>
      <directory>./web/themes/*</directory>
    </exclude>
    <report>
      <clover outputFile="./phpunit-reports/phpunit.coverage.xml"/>
      <html outputDirectory="./phpunit-reports/html" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
</phpunit>